/* COPYRIGHT © 2019 BENJAMIN CICCARELLI */
::selection {
	background: rgba(0,0,0,.7);
	color: white;
}
::-moz-selection {
	background: rgba(0,0,0,.7);
	color: white;
}
::-webkit-scrollbar { 
	display: none; 
}
html{
	scrollbar-width: none;
	scroll-behavior: smooth;
}
body {
	height: 100vh;
	background: linear-gradient(-30deg,#ccc,#aaa);
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
#bg {
	top: -.5vh;
	left: -.5vw;
	position: fixed;
	z-index: -1;
	width: calc(101vw);
	height: calc(101vh);

	background-image: url("../canyon.jpg");
	background-repeat: no-repeat;
	background-size: cover;
 	filter: blur(.5vw);
}
#titleSlide {
	font-size: 2vw;
	margin-left: 10%;
	margin-top: 15%;
}
#title {
	font-size: 2.5vw;
	font-family: sans-serif;
	color: white;
	width: 30vw;
	margin-bottom: 2vw;
}
.stitle {
	float: left;
	font-size: 2.5vw;
	font-family: sans-serif;
	color: white;
	width: 25vw;
	margin-bottom: 2vw;
}
#title p {
	color: rgba(255,255,255,.8);
	font-size: 2vw;
	margin: 0;
}
#overlay {
	filter: none;
	z-index: 100;
	position: fixed;
	display: block;

	top: 0;
	left: 110vw;
	background-color: #222; 
	transform: skew(-10deg);
	width: 200vw;
	height: 100vh;
	animation-play-state: paused;

  	animation-name: slide;
  	animation-duration: 3s;

}
@keyframes slide  {
  from {left: 120vw;}
  to {left: -220vw;}
}
@keyframes slideBack {
  from {left: -220vw;}
  to {left: 120vw;}
}
#projects {
	height: auto;
	float: left;
	width: 25vw;
	margin-bottom: 5vw;
}
#projects a {

	font-size: 1vw;
	float: left;
	font-family: sans-serif;
	

	background-color: white;
	color: black;
	display: block;
	padding: 1vw;
	padding-top: 0;
	padding-bottom: 2vw;
	margin-right: 1vw;
	margin-bottom: 2vw; 
	width: 17vw;
	min-height: 16vh;
	text-decoration: none;
	border: .5vh solid white;

	mix-blend-mode: screen;
}
#projects a:hover {
	color: white;
	background-color: black;
}
#skills {
	float: left;
	font-size: 2.5vw;
	font-family: sans-serif;
	color: white;
	width: 30vw;
	margin-bottom: 5vw;
}
#bar {
	transform: translate(0,6vh);
	margin-top: 3vh; 
	margin-bottom: 7vh; 
	width: 80vw;
	height: 2px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: rgba(255,255,255,.5);
	background: rgba(255,255,255,.5);
}
#bar div{
	transform: translate(0,-7.5vh);
	margin: 0;
}
#skill {

	margin-top: 1vh;
	padding: 3vh;
	mix-blend-mode: screen;
	background: white;
	color: black;
}
*{
	transition: all .5s ease-out;
}
button {
	font-size: 1.5vw;
	font-weight: 500;
	padding: 1.5vw;
	border: .5vh solid white;
	background-color: black;
	color: white;
	mix-blend-mode: screen;
	cursor: pointer;
}
button:hover {
	background-color: white;
	color: black;
}
.lang {
	transition: all .5s ease-out; 
	font-family: sans-serif;
	overflow: hidden;
	height: 10vh;
}
.lang > h1 { 
	width: 40vw;
	padding: .5vw;
	color: #666;
}
.lang arrow {
	padding: .5vw;
	color: #0ff;
}
.lang:hover arrow {
	padding: 1vw;
}
.lang > hr {
	margin-top: 0; 
}
#back{
	position: fixed;
	top: 3vh;
	right: 4vw;
	visibility: visible;
}
#secondSlide {
	display: none;
	margin-left: 10vw;
	margin-top: 10vh;
}